body{
    margin: 0;
}
header ol{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav{
    top: 0;
    width: 100%;
}
header a{
    text-decoration: none;
    color: inherit;
}
header li{
    width: 25%;
    margin: 0;
}
li div{
    background-color: rgb(230, 52, 52);
    padding: 10px;
    width: 100%;
    text-align: center;
    min-height: 50px;
    align-content: center;
    box-sizing: border-box;
}
li div:hover{
    background-color: rgb(167, 37, 37);
}